body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f1f3f4;
  }
  
  header {
    background-color: #fbbc04;
    color: white;
    text-align: center;
    padding: 10px 0;
  }
  
  footer {
    background-color: #fbbc04;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    align-items: flex-start; 
  }
  
  .note {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin: 10px;
    padding: 20px;
    width: 300px;
  }
  
  .note h2 {
    color: #202124;
    margin-top: 0;
  }
  
  .note p {
    color: #5f6368;
  }
  
  .note small {
    display: block;
    margin-top: 10px;
    color: #5f6368;
  }
  
  .note img {
    max-width: 100%;
    border-radius: 4px;
    margin-top: 10px;
  }
  
  .note ul {
    list-style: none; 
    padding-left: 0; 
    margin: 10px 0;
  }
  
  .note ul li {
    margin-bottom: 5px; 
    line-height: 1.5;
  }
  
  .note ul li:not(:last-child) {
    border-bottom: 1px solid #e0e0e0; 
    padding-bottom: 5px; 
  }
  